* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

.bg-azul {
  background: linear-gradient(128deg, #0285e2, #3f61ff);
}

.bg-laranja {
  background: linear-gradient(128deg, #ff9a3f, #ff4b40);
}

.bg-roxo {
  background: linear-gradient(128deg, #6a1b9a, #8e24aa);
}

.bg-verde {
  background: linear-gradient(128deg, #00bfa5, #00c853);
}

.carousel.slide {
  width: 70vw !important;
  height: 100vh !important;
}

.carousel-inner {
  height: 100% !important;
}

.carousel-item {
  height: 100% !important;
}

.carousel-item img {
  height: 100vh !important;
  width: 70vw;
  object-fit: cover;
  object-position: center;
}

.fp-overflow {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fp-watermark {
  display: none !important;
}

.btn {
  min-width: 140px;
}

.testimonial-item {
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  padding-left: 1rem;
  font-style: italic;
}

.btn-grow-hover {
  transition: transform 0.3s ease-in-out;
}

.btn-grow-hover:hover {
  transform: scale(1.1);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-grow-hover.move-up:hover {
  transform: scale(1.05) translateY(-5px);
}

@media (max-width: 768px) {
  body {
    background: linear-gradient(to right, #0055a5, #003f7f);
    overflow-y: auto;
  }

  section[data-anchor="home"] {
    min-height: 100vh !important;
    justify-content: space-evenly;

    #teste {
      flex-grow: 1;
    }
  }

  .d-flex.w-100.vh-100.overflow-hidden {
    flex-direction: column;
    height: 100vh;
  }

  .w-60 {
    width: 100% !important;
    height: 300px !important;
  }

  .h-100 {
    height: auto !important;
  }
  .vh-100 {
    height: auto !important;
  }

  .carousel.slide {
    display: flex;
    justify-content: flex-start;
    width: 100vw !important;
    height: 300px !important;
  }

  .carousel-item img {
    height: 300px !important;
    width: 100vw !important;
  }

  .bg-azul {
    padding: 2rem 1rem;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
